# Files and directories to not include in the published package

# Common
.DS_Store
.git
.gitignore
.github/
.github/workflows/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Config files
.eslint*
.prettier*
.babel*
.vscode/

# Test files
test/
tests/
__tests__/
*.test.js
*.spec.js
